<div class="feature-wrapper">
  <div class="feature-container">



   


    <% dato.features.each do |feature| %>
      <p> <%= feature.ranking %> </p>
      <p> <%= feature.artist_name %> </p>
    <% end %>
  </div>
</div>