<div class="feature-wrapper">
  <div class="feature-container">
    <% data.artists.features.each do |feature| %>
      
     <p> <%= feature.position %> </p>
     <p> <%= feature.artist_name %> </p>
    <% end %>
  </div>
</div>